In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression

In [2]:
traindf = pd.read_csv('../../Desktop/Machine Learning/data/spaceship-titanic/train.csv')
testdf = pd.read_csv('/home/nasir/Desktop/Machine Learning/data/spaceship-titanic/test.csv')

In [3]:
traindf.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
y = traindf['Transported']
x= traindf['VIP']
x = x.fillna(0)
y = np.array(y).reshape(-1,1)
x = np.array(x).reshape(-1,1)

In [5]:
Xtrain, Xtest, ytrain,ytest =train_test_split(x,y)
model1 = DecisionTreeClassifier()
fit1 = model1.fit(Xtrain,ytrain)

In [7]:
pred = model1.predict(Xtest)
accu = model1.score(Xtest,ytest)
print('accuracy of the test is  ',accu)

accuracy of the test is   0.49770009199632015

In [8]:
x = traindf['CryoSleep']
x = x.fillna(0)
x = np.array(x).reshape(-1,1)

In [9]:
Xtrain,Xtest,ytrain,ytest = train_test_split(x,y)
fit1 = model1.fit(Xtrain,ytrain)
pred = model1.predict(Xtest)
accu = model1.score(Xtest,ytest)
print('ACCURACY IS  ',accu)

ACCURACY IS   0.7263109475620975

In [10]:
x = traindf['Age']
x = x.fillna(0)
x = np.array(x).reshape(-1,1)

In [11]:
Xtrain,Xtest,ytrain,ytest = train_test_split(x,y)
fit1 = model1.fit(Xtrain,ytrain)
pred = model1.predict(Xtest)
accu = model1.score(Xtest,ytest)
print('ACCURACY IS  ',accu)

ACCURACY IS   0.5404783808647654

In [12]:
x = traindf['RoomService']
x = x.fillna(0)
x = np.array(x).reshape(-1,1)

In [13]:
Xtrain,Xtest,ytrain,ytest = train_test_split(x,y)
fit1 = model1.fit(Xtrain,ytrain)
pred = model1.predict(Xtest)
accu = model1.score(Xtest,ytest)
print('ACCURACY IS  ',accu)

ACCURACY IS   0.6425942962281509

In [14]:
x = traindf['Spa']
x = x.fillna(0)
x = np.array(x).reshape(-1,1)

In [15]:
Xtrain,Xtest,ytrain,ytest = train_test_split(x,y)
fit1 = model1.fit(Xtrain,ytrain)
pred = model1.predict(Xtest)
accu = model1.score(Xtest,ytest)
print('ACCURACY IS  ',accu)

ACCURACY IS   0.6366145354185833

In [16]:
le = LabelEncoder()
cabin = traindf['Cabin']
cabin = le.fit_transform(cabin)
cabin = np.array(cabin).reshape(-1,1)

In [22]:
x = traindf[['CryoSleep','RoomService','Spa','FoodCourt','ShoppingMall']].fillna(0)
x['homeplanet'] = homeplanet
y = traindf['Transported']
y = np.array(y).reshape(-1,1)
model3 =DecisionTreeClassifier().fit(x,y)

In [24]:
pred = model3.predict(x)
accu = model3.score(x,y)
print('the accuracy is ', accu)
print('classifcation report',classification_report(y,pred))

the accuracy is  0.9047509490394571
classifcation report               precision    recall  f1-score   support

       False       0.95      0.86      0.90      4315
        True       0.87      0.95      0.91      4378

    accuracy                           0.90      8693
   macro avg       0.91      0.90      0.90      8693
weighted avg       0.91      0.90      0.90      8693

In [ ]:
Xtest = testdf[['CryoSleep','RoomService','Spa','FoodCourt']].fillna(0)
predtest = model3.predict(Xtest)

In [ ]:
testdf['Transported'] = predtest 
testdf.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,True
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,False
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,True
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,False
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,True

In [ ]:
finaldf = testdf[['PassengerId','Transported']].copy()
finaldf.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01        False
4     0023_01         True

In [ ]:
#finaldf.to_csv('/home/nasir/Desktop/Machine Learning/data/spaceship-titanic/results.csv')

In [ ]:
Xtrain,Xtest,ytrain,ytest = train_test_split(x,y,train_size=0.35)
model3 = model3.fit(Xtrain,ytrain)

In [ ]:
predtest = model3.predict(Xtest)
accu = model3.score(Xtest,ytest)
print('the accuracy is ',accu)

the accuracy is  0.7163333923199434

In [ ]:
x1 = cabin
Xtrain,Xtest,ytrain,ytest = train_test_split(x1,y,train_size=0.35)
fit2  = model1.fit(Xtrain,ytrain)
accu = model1.score(Xtest,ytest)
print('accuracy is ',accu)

accuracy is  0.5268094142629623

In [21]:
homeplanet = traindf['HomePlanet']
homeplanet = le.fit_transform(homeplanet)
homeplanet = np.array(homeplanet).reshape(-1,1)

In [ ]:
x1 = homeplanet
Xtrain,Xtest,ytrain,ytest = train_test_split(x1,y,train_size=0.35)
fit2  = model1.fit(Xtrain,ytrain)
accu = model1.score(Xtest,ytest)
print('accuracy is ',accu)

accuracy is  0.5770660060166343

In [ ]:
homeplanet = testdf['HomePlanet']
homeplanet = le.fit_transform(homeplanet)
homeplanet = np.array(homeplanet).reshape(-1,1)

In [ ]:
x1 = testdf[['CryoSleep','RoomService','Spa','FoodCourt','ShoppingMall']].fillna(0)
x1['homeplanet'] = homeplanet

In [ ]:
predtest = model3.predict(x1)

In [19]:
model2 = LogisticRegression()
fit3 = model2.fit(Xtrain,ytrain)
accu = model2.score(Xtest,ytest)
print('accuracy is ', accu)

/home/nasir/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy is  0.6131554737810487

In [18]:
fit1 = model1.fit(Xtrain,ytrain)
pred = model1.score(Xtest,ytest)
print('the accuracy is ',pred)

the accuracy is  0.6366145354185833

In [ ]:
finaldf['Transported'] = predtest
finaldf.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01        False

In [ ]:
finaldf.to_csv('/home/nasir/Desktop/Machine Learning/data/spaceship-titanic/result1.csv')