In [30]:
import pandas as pd
import numpy as np 
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
testdf = pd.read_csv('/home/nasir/Desktop/Machine Learning/data/nlp-getting-started/test.csv')
textdf = pd.read_csv('/home/nasir/Desktop/Machine Learning/data/nlp-getting-started/train.csv')
textdf.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [52]:
countvector = CountVectorizer()
trainX = textdf['text']
trainX_counts = countvector.fit_transform(trainX)
testX_counts = countvector.transform(testdf['text'])
trainX_counts.shape

(7613, 21637)

In [50]:
trainexample = countvector.fit_transform(textdf['text'][0:10])
testX_counts.shape

(3263, 21637)

In [53]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score

In [59]:
tdif_transformer = TfidfTransformer()
trainX_counts_tdif = tdif_transformer.fit_transform(trainX_counts)
testX_counts_tdif = tdif_transformer.transform(testX_counts)
trainX_counts_tdif.shape

(7613, 21637)

In [60]:
testX_counts_tdif.shape

(3263, 21637)

In [61]:
clf = MultinomialNB()
clf1 = SGDClassifier()
scores1 = cross_val_score(clf,trainX_counts_tdif,textdf['target'],cv=3,scoring='f1')
print(scores1)
scores2 = cross_val_score(clf1,trainX_counts_tdif,textdf['target'],cv=3,scoring='f1')
print(scores2)
#model = clf.fit(trainX_counts_tdif,textdf['target'])
#model2= clf1.fit(trainX_counts_tdif,textdf['target'])

[0.62053057 0.59922179 0.70020964]
[0.63208047 0.60199005 0.6705653 ]

In [62]:
fit = clf.fit(trainX_counts_tdif,textdf['target'])
submision_csv = pd.read_csv('/home/nasir/Desktop/Machine Learning/data/nlp-getting-started/sample_submission.csv')

In [63]:
testscore = clf.predict(testX_counts_tdif)

In [64]:
submision_csv['target'] = testscore
submision_csv.head()

   id  target
0   0       1
1   2       0
2   3       1
3   9       1
4  11       1

In [65]:
submision_csv.to_csv('/home/nasir/Desktop/Machine Learning/data/nlp-getting-started/submisiion.csv',index=False)